<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center mt-4">
            <h1 class="mb-1">
                Joint my crew!
            </h1>
            <h5 class="mb-5">
                <em>Store whatever you want</em>
            </h5>
            <a class="btn btn-primary" href="/auth/signin">
                Take the red pill
            </a>
        </div>

    </header>

</main>