{{#if success}}
    <div class="container">
        <div class="row m-2">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ success }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if message}}
    <div class="container">
        <div class="row m-2">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if welcome_message}}
    <div class="container">
        <div class="row m-2">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {{ welcome_message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
{{/if}}